.react-split {
    flex: 1;
    height: 100%;
    position: relative;
    width: 100%;

    &__pane {
        height: 100%;
        position: absolute;
        white-space: normal;
        width: 100%;
        overflow: hidden;
    }

    &__sash {
        height: 100%;
        position: absolute;
        top: 0;
        transition: background-color 0.1s;
        width: 100%;
        z-index: 2;

        &--disabled {
            pointer-events: none;
        }

        &--vertical {
            cursor: col-resize;
        }

        &--horizontal {
            cursor: row-resize;
        }
    }

    &--dragging {
        .react-split__pane {
            user-select: none;
        }
        &.react-split--vertical {
            cursor: col-resize;
        }
        &.react-split--horizontal {
            cursor: row-resize;
        }
    }
}
